.clear{clear:both;}

.cp-l{width:640px;float:left;margin-bottom:20px;}
.cp-img{clear:both; margin-bottom: 20px}
.cp-back{margin-bottom:30px;}
.cp-ss-title{margin-bottom:10px;}
.cp-block-p{margin-top:20px;}
.cp-img-player{width:920px; height:560px}
.cp-img-p2v-1{width:960px; height:386px}
.cp-img-p2v-2{width:960px; height:450px}
.cp-img-p2v-3{width:960px; height:590px}
.cp-img-widget-1{width:960px; height:533px}
.cp-img-live{width:725px; height:410px}
.cp-img-magazine{width:960px; height:720px}
.cp-img-mini{width:500px; height:293px}




