html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none;}a{text-decoration: none;}

html{overflow-x: hidden;overflow-y:scroll;}
body {line-height: 24px;font-size: 14px; font-family: 'Droid Sans',sans-serif;background-image:url("../images/bg.gif")}
a{color:#55b3e3;padding:0 3px 0 2px;}
a:hover{color:#FFF;background-color:#55b3e3;}
h1{font-size:30px;}
h2{font-size:24px;}
h3{font-size:24px;}

.l-w-defined {width: 960px;overflow:hieedden;}
.l-centered {margin: 0 auto;}
.l-relative {position:relative}
.l-inline {display: inline-block;}
.t-bold{font-weight:bold;}
.l-fix-a{margin-left:-2px;}
.t-small {font-size:12px;}
.a-no-hover{padding:0px}
.a-no-hover:hover{background-color:transparent;}
.img-checker{background-image:url("../images/check-bg.gif")}

.header-size-fixed{height:60px;}
.title{float: left;}
.sns{float:right;margin-top:19px;}
.sns img{margin-left:10px;cursor:pointer;}

.header {background-color: #454545;}
.header-title {margin:17px auto auto 2px;}

.nav{margin-top:17px;}
.nav li{display:inline-block;height:34px}
.nav p{line-height:38px;margin:auto 18px; color:#FFF;font-size:16px;letter-spacing:-1px;}
.nav-unactive {cursor:pointer;background-color: #6fbce4;}
.nav-active {cursor:pointer;background-color: #454545;}
.nav-active:hover {cursor:pointer;background-color: #666;}

.content{margin-top:30px; color:#454545;}

.work-intro-p{width:850px;padding-left:2px;}
.work ul{margin-top:28px;}
.work-single-size{width:470px;height:235px;}
.work-nth-1n{margin:0 20px 20px 0;}
.work-nth-2n{margin:0px;}
.work-border{cursor:pointer;position:absolute;left:-1px;top:-1px;}
.work-l-black{position:absolute;top:0px;background-color: #FFF;}
.work-msg-ul{color:#454545;position:absolute;top:0;width:470px;text-align:center;display:none;}
.work-msg-1p{font-size:30px;margin:56px auto 16px auto;letter-spacing:-1px;}
.work-msg-2p{font-size:18px;}

.about h1{margin-bottom:24px;}
.about{display:none;overflow:hidden;}
.ab-block{margin-bottom:44px;}
.ab-l{padding:20px 0 0 8px;width:470px;float:left;}
.ab-l p{margin-left:3px;}
.ab-r{padding-top:20px;width:470px;float:right;}
.ab-r ul{margin-left:3px;}
.ab-r li{margin-bottom:20px;}

.show-top{margin-bottom:36px;}
.show-time{font-size:12px;color:#a4a4a4;margin:4px 0 0 1px;}
.show-con{margin-top:10px;}
.show-l{width:640px;float:left;margin-bottom:50px;}
.show-r{width:300px;float:right;}
.show-intro-p{margin-top:14px;}
.show-block{margin-top:28px;}
.show-block-con{margin-top:10px;}
.show-block-p{margin-top:10px;}
.show-line{height:0px;border-top:1px solid #ccc;border-bottom:1px solid #FFF;}
.show-back{margin-top:30px;}

.show-logo-pixas{margin:-50px 0 0 26px;}
.show-top-img-size{width:960px;height:360px;}
